Connection: close not honoured

```
httperf does not recognize "Connection: close" headers, it assumes Web 
servers that claim to be "HTTP/1.1" to support persistent connections.
Likewise, it assumes servers that claim to be "HTTP/1.0" do not support
persistent connections.

From RFC2616 section 14.10;

HTTP/1.1 defines the "close" connection option for the sender to signal
that the connection will be closed after completion of the response. For
example, Connection: close in either the request or the response header
fields indicates that the connection SHOULD NOT be considered `persistent'
(section 8.1) after the current request/response is complete. HTTP/1.1
applications that do not support persistent connections MUST include the
"close" connection option in every message.
```

Original issue reported on code.google.com by `tedbullo...@gmail.com` on 16 Dec 2009 at 7:10
